@use "./cssReset" as reset;

html {
	// ## Colors

	//### Primary

	--Light-Cyan: hsl(193, 38%, 86%);
	--Neon-Green: hsl(150, 100%, 66%);

	//### Neutral

	--Grayish-Blue: hsl(217, 19%, 38%);
	--Dark-Grayish-Blue: hsl(217, 19%, 24%);
	--Dark-Blue: hsl(218, 23%, 16%);
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--Dark-Blue);
	font-family: "Manrope", sans-serif;
}

//========================Wrapper===============//
.wrapper {
	flex: 1 0 auto;
	width: 360px;
	min-width: 320px;
	padding: 20px 10px;
}
//========================Wrapper===============//

//======================Main===================//
main {
	width: 100%;
	height: 80vh;
	& .card {
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		padding: 20px 10px;
		max-width: 360px;
		min-height: 300px;
		border: none;
		border-radius: 10px;
		background-color: var(--Dark-Grayish-Blue);
		& h1 {
			color: var(--Neon-Green);
			text-transform: uppercase;
			font-size: 1rem;
			letter-spacing: 4px;
			padding: 20px 0;
		}
		p {
			font-size: 28px;
			text-align: center;
			color: var(--Light-Cyan);
		}
		img {
			margin: 30px;
		}
	}
}
.dice {
	position: absolute;
	bottom: -28px;
	width: 60px;
	height: 60px;
	background-color: var(--Neon-Green);
	border: none;
	border-radius: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	& img {
		position: absolute;
		bottom: -12px;
	}
}
.dice:hover {
	box-shadow: 0px 0px 50px var(--Neon-Green);
}
#dice {
	cursor: pointer;
}
.roll {
	animation: roll 0.7s;
}
#desktop {
	display: none;
}
@keyframes roll {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(180deg);
	}
}
//======================Main===================//

//========================Footer===============//
.footer {
	padding: 0.4em;
	width: 100%;
	color: #fff;
	background-color: #ddd;
	font-size: 0.7rem;
	& .attribution {
		text-align: center;
		& a {
			text-decoration: none;
			color: #fff;
			&:visited {
				color: #fff;
			}
		}
	}
}
//========================Footer===============//

//========================Media===============//

@media (min-width: 992px) {
	.wrapper {
		width: 900px;
	}
	main > .card {
		max-width: 500px;
	}
	#desktop {
		display: block;
	}
	#mobile {
		display: none;
	}
}
//========================Media===============//
